<!-- テンプレート開始 -->
<!-- pythonプログラムにて、layout.htmlと統合して1つのhtmlファイルになる -->
{% extends "layout.html" %} {% block content %}

<!-- ヘッダー -->
<header>
  <div class="cover py-4 text-center text-white mb-3">
    <h3 class="mb-3 display-5 ">Watson画像認識　マニュアル</h3>
  </div>
</header>

<!-- メイン -->
<main>
  <!-- コンテナの設定（グリッドシステム） -->
  <div class="container">

    <div class="col-12">
      <!-- 条件の入力 -->
      <label class="border-bottom border-secondary">説明資料</label>
      <br>
      <textarea id="text" readonly rows="20" style="overflow:auto;width:100%;">
      ＜条件の入力＞
      ・キーワード：画像検索のキーワードを入力します。
      ・画像数：検索結果に表示される画像の数を選択します。（推奨値：３〜３０）

      ＜オプションの選択＞
      ・検索エンジン：選択したサイトから画像を取得します。
            pinterestは複雑なキーワードを指定すると画像が見つからない場合があります。（エラーになります）
            検索エンジンを変えるか、キーワードを変更して対応してください。
      ・言語：画像認識結果の表示言語を選択します。
      ・最初のキーワードを保持する：キーワード欄に最初に検索したキーワードを残します。
      ・Dominant Color：google検索のみ有効。検索する画像の色の傾向を指定します。（精度未検証です）
      ・グラフの種類：Graph(Color)タプに表示するグラフの種類を選択できます。

      ＜結果の表示＞
      ・Image：検索した画像を表示します。
      ・Score：画像に映る物体、色をAIが認識し、点数にして表示します。
              キーワードで検索した画像全体の平均点（１００点満点）で表示します。
      ・Graph(Color)：色のScoreをグラフ表示します。グラフの種類は変更できます。
      ・Image(Color)：色の画像を5枚ずつ表示します。
      ・連想(keyword)：検索したキーワードの履歴を図で表示します。

      ＜リセットボタン＞
      ・結果の表示を全て削除します。また、検索キーワードの履歴も削除します。

      ＜エラーになる場合＞
      ・キーワードの検索画像が見つからない
　         キーワードを変える、検索エンジンを変える、で対応してください。
      ・連想できるキーワードが見つからない
           一度検索候補にしたキーワードは二度使えない仕様です。
           キーワードを手動で変更する、一度リセットする、等で対応してください。


    </textarea>
    </div>
  </div>
</main>

<!-- フッター -->
<footer class="footer text-center text-muted py-2 mt-5">
  Copyright 2018/5/29
</footer>

<!-- テンプレート　終了 -->
{% endblock %}